.landing{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#f8f8f8,#aaa);
}
.form{
    width: 500px;
    height: 350px;
    border-radius: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: #fff;
}
.input{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.formInput{
    display: flex;
    margin-top: 50px;
}