.menuOptioon:hover{
    background: #1f2430;
    cursor: pointer;

}
.menuOptioon:hover .pointer{
    transform: translateX(50%);
}
.pointer{
    transition: all 0.25s linear;
}
.loader{
    width: 100%;
    display: block;
    display: grid;
    margin: 0px;
    place-items: center;
    height: calc(100vh - 60px);
}